* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,00;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.container {
  max-width: 90%;
}
.bg-black {
  background: #000000;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: aliceblue;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.headerWrapper .header {
  width: 100%;
  height: 70px;
  padding: 25px 0px;
  margin-top: 5px;
  /* background-color: #c31a1a; */
}
.logoWrapper img {
  width: 50%;
  height: 100%;
  /* margin-left: 0px; */
}
.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 50px;
  min-width: 150px;
  justify-content: start;
  border: 1px solid #0000001a !important;
  border-radius: 7px !important;
  padding: 0px 20px !important;
}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(102, 102, 102, 0.7) !important;
  /* line-height: 30px;
     */
  font-weight: 300;
}
.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.8) !important;
  line-height: 16px;
  font-weight: 700;
}
.headerWrapper .header .part2 .countryDrop span.dropIcon {
  opacity: 0.3;
  color: darkgray;
}
header .headerSearch {
  width: 60%;
  height: 60px;
  position: relative;
  background-color: #f3f4f797;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .headerSearch input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 10px 25px;
}
header .headerSearch input::-webkit-input-placeholder {
  color: rgb(131, 131, 131);
  letter-spacing: 0.1em;
}
header .headerSearch input:focus {
  outline: #0a3ed9;
}
header .headerSearch button {
  position: absolute;
  right: 0%;
  top: 50%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 1.5em;
  display: flex;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  z-index: 200;
}

header .headerSearch button svg {
  font-size: 25px;
}

header .part3 .circle {
  width: 45px !important;
  height: 45px !important;
  min-width: 45px !important;
  align-items: center;
  justify-content: center;
  border: 1px solid hsla(0, 0%, 59%, 0.098);
  border-radius: 50% !important;
  color: #000000;
}
header .part3 .circle svg {
  font-size: 22px;
}
.cartTab .price {
  font-style: 18px;
}
.cartTab button {
  background: #fff !important;
}
.cartTab button svg {
  color: red !important;
}
.cartTab .count {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -6px;
  right: -4px;
  background: red;
  border-radius: 50%;
  color: #ffff;
  font-size: 12px;
  font-weight: 700;
}

nav .allCatTab {
  background-color: #2bbef9;
  padding: 8px 30px !important;
  border-radius: 30px;
}
nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}
nav .allCatTab .text {
  font-weight: 600;
}
